.add-modal .header-text {
  background: #44a166;
  color: #fff;
}

.input-container {
  margin: 5px 5px 25px 5px;
}

select {
  margin-left: 3px;
}

.add-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.item-code {
  width: 250px;
}

.item-name {
  width: 70%;
}

.item-type {
  width: 290px;
}

.numbers .input {
  width: 150px;
}

.numbers, .action-btns {
  display: flex;
  flex-wrap: wrap;
}

.action-btns {
  justify-content: flex-end;
}

button {
  margin-right: 5px;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.clear {
  background: #c95069;
}

.submit {
  background: #44a166;
}

.category {
  display: flex;
  flex-wrap: wrap;
}
