.remove-modal .header-text {
  background: #c33838;
  color: #fff;
}

.warning {
  text-align: center;
  padding: 10px;
}

.warning h2 {
  color: #937a4e;
}

.confirm-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.confirm {
  background: #c33838;
  margin: 5px 10px;
}

.pw-delete {
  text-align: center;
}
