.update-modal .header-text {
  background: #62699c;
  color: #fff;;
}

.update-inputs {
  padding: 10px;
}

.input-description {
  display: flex;
  align-items: center;
}

.item-name-val {
  width: 70%;
}

.desc-icon {
  margin: 0 5px;
}

.input-description .desc-icon:hover {
  cursor: pointer;
}

.lock-toggle {
  background: #656569;
}

.ub-icon {
  margin-right: 5px;
}

button {
  cursor: pointer;
}

.submit-update {
  background: #62699c;
}
