@import url('../component/modal.css');
@import url('../component/table.css');
@import url('../component/buttons.css');
@import url('../component/searchnav.css');
@import url('add_modal.css');
@import url('edit_modal.css');
@import url('del_modal.css');
@import url('empty_table.css');
@import url('search.css');
@import url('table_content.css');

.dash-content {
  position: relative;
  padding: 20px;
}

.active {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.selected {
  background: #e7e7e7;
}
