@import url('../component/table.css');
@import url('../component/buttons.css');
@import url('../component/searchnav.css');
@import url('add_modal.css');
@import url('edit_modal.css');
@import url('del_modal.css');
@import url('restock_modal.css');
@import url('../component/modal.css');
@import url('empty_table.css');
@import url('search.css');
@import url('table_content.css');

.dash-content {
  position: relative;
  padding: 20px;
}

.selected {
  background: #595959 !important;
  color: #fff;
}

select {
  width: 150px;
}
