@import url('../component/table.css');
@import url('../component/scrollbar.css');
@import url('../component/buttons.css');
@import url('../component/searchnav.css');
@import url('add_modal.css');
@import url('edit_modal.css');
@import url('del_modal.css');
@import url('restock_modal.css');
@import url('../component/modal.css');
@import url('empty_table.css');
@import url('search.css');
@import url('table_content.css');

.dash-content {
  position: relative;
}

.selected {
  background: crimson !important;
  color: #fff;
}

.scrollbar {
  background: #2ed860;
  opacity: 0.9;
}

select {
  width: 150px;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}
