@import url('./report-modals.css');
@import url('../component/modal.css');


.report-container {
  position: relative;
  display: flex;
  width: 400px;
  height: 170px;
  margin: 0 20px 20px 0;
  box-shadow: 2px 2px 2px #444;
  color: #fff;
  background: #333;
  transition-duration: 0.3s;
}

.report-container:nth-child(3n) {
  margin-right: 0;
}

.report-container:hover {
  background: crimson;
  cursor: pointer;
}

.report-container:hover .fa {
  color: #fff;
}

.all-stock-report:hover {
  background: #333;
  cursor: default;
}

.all-stock-report:hover .fa {
  color: #14dc72;
}

.report-wrapper, .report-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.report-wrapper {
  padding: 20px 5px 5px 15px;
  width: 320px;
}

.report-logo {
  width: 80px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.fa {
  transition-duration: 0.3s;
}

.report-header {
  font-family: sans-serif;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 16px;
}

.report-value {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.monthly-report .fa {
  color: #d835a8;
}

.daily-report .fa {
  color: #14c7dc;
}

.weekly-report .fa {
  color: #1479dc;
}

.all-stock-report .fa {
  color: #14dc72;
}

.low-stock-report .fa {
  color: #dcd314;
}

.no-stock-report .fa {
  color: #dd3b2f;
}
