.modal-content .header-text, .modal-content .report-footer{
  background: crimson !important;
  color: #fff;
}

.ultra-long-column {
  width: 60%;
}

.long-column {
  width: 40%;
}

.short-column {
  width: 20%;
  text-align: center;
}

.sales-report-row {
  width: 100%;
  display: flex;
  padding: 10px;
}

.sales-report-body, .sales-content {
  width: 100%;
}

.sales-content {
  max-height: 500px;
  overflow: auto;
}

.sales-report-row:nth-child(even) {
  background: #efefef;
}

.reports-summary {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
