.scroll-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background: orange;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.scrollbar:hover {
  opacity: 1;
  width: 20px;
}

.scroll-content {
  position: relative;
  height: initial !important;
}
