.tbl {
  border-collapse: collapse;
}

.table-scroll {
  width: 100%;
  height: 450px;
  overflow: auto;
}

.outer-border {
  border: 3px solid #333;
}

.tbl-head {
  font-family: Oxygen;
  color: #fff;
  background: #3c3a3a;
}

.tbl-head th {
  padding: 15px 10px;
}

.tbl-data td {
  padding: 20px 10px;
}

.tbl-data {
  border-bottom: 1px dashed #aaa;
}

.tbl-data {
  background: #fff;
  transition-duration: 0.4s
}

.tbl-data:hover {
  cursor: pointer;
}
