.user {
  display: flex;
  flex-wrap: wrap;
}

.user-table {
  width: 600px;
}


.user-table-body {
  height: 90%;
  overflow: auto;
}

.user {
  position: relative;
  width: 100%;
  height: 90px;
  align-items: center;
  background: #fff;
  text-align: center;
  color: #444;
}

.selected-user {
  background: #444;
  color: #fff;
}

.user span {
  font-size: 20px;
}

.user p {
  color: #999;
  margin: 2px 0;
  font-style: italic;
}

.user:hover {
  cursor: pointer;
}

.long {
  width: 45%;
}

.short {
  width: 27.5%;
}

.status {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  background: #10d84b;
}

.offline {
  background: tomato;
}
