@import url('../component/scrollbar.css');
@import url('usertable.css');
@import url('userprofile.css');
@import url('createUserModal.css');
@import url('updateUserModal.css');
@import url('removeUserModal.css');
@import url('../component/buttons.css');
@import url('../component/modal.css');

.dash-content {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.user-table, .user-main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 10px;
  flex-direction: column;
}

.user-table-header, .user-main-header {
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  background: #444;
  color: #fff;
}

.user-header h3 {
  margin-left: 5px;
  font-family: Oxygen;
}

.button {
  border: none;
}

.user-mc-header {
  color: #444;
}
