.user-main {
  width: 550px;
  height: 100%;
}

.user-profile, .user-profile-body {
  width: 100%;
}

.user-profile-body{
  color: #fff;
  height: 80%;
}

.user-header {
  height: 20%;
}

.user-profile {
  height: 100%;
  margin-bottom: 15px;
}

.user-profile-column {
  display: flex;
  height: 90px;
}

.user-profile-column p {
  margin: 2px 0;
}

.user-profile-column .profile-desc:nth-child(even) {
  border-left: none;
}

.profile-desc {
  padding: 5px;
  width: 100%;
  background: #fff;
  border: 1px dashed #444;
  border-top: none;
  color: #444;
}

.short-desc {
  width: 50%;
}

.profile-data {
  text-align: center;
  font-size: 30px;
}

.profile-tag {
  color: #5c5c5c;
  font-style: italic;
}

.data-last-login {
  height: 30px;
}

.user-last-login {
  width: 100%;
  text-align: center;
}

.user-button {
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  transition-duration: 0.3s;
}

.user-button span {
  font-size: 0px;
  transition-duration: 0.3s
}

.user-button:hover {
  color: #fff;
  cursor: pointer;
}

.user-button:hover span {
  font-size: 15px;
}

.create-user:hover {
  background: #38a586;
}

.update-user:hover {
  background: #3c77b1;
}

.remove-user:hover {
  background: #e7553b;
}
