@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Oxygen;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
}

* {
  -moz-user-select: none;
  user-select: none;
}

body{
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: Roboto-light;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.top-nav, .brand, .directories, .left, .checkout-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.brand, .directories, .left {
  height: 100%;
}

/* HEADER */
.top-nav {
  top: 0;
  color: #fff;
  justify-content: space-between;
  width: 100vw;
  height: 7.5%;
  background: #444;
  overflow: hidden;
}

.brand {
  margin: 0 14px 0 12px;
}

#cart-icon{
  font-size: 22px;
  margin-right: 3px;
}

.brand-name {
  margin: 0;
  color: tomato;
}

.directories span {
  line-height: 50px;
  padding: 5px;
  height: 100%;
}

.directories span:hover {
  cursor: pointer;
  background: #353535;
}

.right {
  position: relative;
  width: 200px;
  height: 100%;
}

.right p {
  text-align: right;
  margin: 5px;
}

.right #name {
  color: #09DCE4;
}

.right #position {
  font-size: 12px;
}

/* BODY */
.checkout-body {
  justify-content: space-around;
  width: 100%;
  height: 92.5%;
  background: #f7f7f7;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 550px;
}

/* SALES SUMMARY */
.sales-summary {
  width: 500px;
}

.purchases, .purchase-summary, .descriptors {
  position: relative;
  width: 100%;
}

.long, .short, .purchased-item, .purchase-summary, .total {
  box-sizing: border-box;
  text-align: center;
}

.purchases {
  height: 80%;
}

.long {
  width: 40%;
}

.short {
  width: 20%;
}

.descriptors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 7%;
  color: #fff;
  border-radius: 5px;
  background: #444;
  font-family: Oxygen;
}

.descriptors span {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.purchased-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 90px;
  background: #fff;
  border: 1px solid #BDBAA9;
  border-radius: 5px;
  margin: 5px 0;
  font-family: Oxygen;
}

.purchased-item span {
  position: relative;
  max-height: 80%;
  font-size: 13px;
  text-align: center;
  overflow: auto;
}

.purchased-item .prod_name {
  padding: 5px;
  text-align: center;
}

.purchase-summary {
  height: 20%;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 15px 0;
  padding: 0 5px;
  font-size: 13px;
}

.total span{
  max-width: 100%;
  padding: 5px 0;
  border-top: 5px double #444;
  overflow: auto;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 10px;
}

.action-buttons .button {
  margin: 0 5px;
}

.button {
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #444;
  color: #fff;
}

.tender {
  background: #52DA52;
}

.clear {
  background: tomato;
}

.tender:hover {
  background: #3DCB3D;
}

.clear:hover {
  background: #ea5338;
}

/* PRODUCTS */
.products-summary {
  width: 800px;
}

.search-nav, .products, .products-summary {
  box-sizing: border-box;
}

.search-nav, .products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #444;
  height: 9%;
  color: #fff;
  box-shadow: 3px 5px 5px #aaa;
}

.search-input {
  font-family: sans-serif;
  margin-left: 15px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: 20px;
  width: 160px;
  padding-left: 10px;
}

.search-icon {
  margin-left: 5px;
}

.filter {
  margin-right: 10px;
}

.filter li {
  display: inline-block;
  margin: 0 5px;
}

.choice {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 15px;
}

.filter .all {
  width: 40px;
  text-align: center;
  background: #4678b0;
}

.filter .category {
  background: #b08340;
}

.filter .sku {
  background: #7bc581;
}

.filter .stock {
  background: #dd654f;
}

.current-filter {
  border: 1px solid #fff;
}

.products {
  height: 91%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.product {
  position: relative;
  font-family: Oxygen;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  cursor: pointer;
  height: 150px;
  background: #fff;
  color: #444;
  border-bottom: 2px dashed #aaa;
}

.item {
  width: 17.5%;
  font-size: 15px;
}

.product .name {
  width: 30%;
  max-width: 100%;
  max-height: 80%;
  overflow-y: auto;
}

.selected-product {
  background: #3BAB78;
  border-bottom: 2px dashed #fff;
  color: #fff;
}

.selected-product:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 30px solid orange;
  border-right: 30px solid transparent;
}
