.dash-content {
  justify-content: space-around;
  align-items: center;
}

.greetings {
  width: 800px;
}

.greetings h1 {
  color:#41abbd;
  font-size:100px;
  margin-top:0;
}

.greetings h3 {
  color:#7baba3;
  max-width:750px;
  font-weight:500;
}

.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 400px;
}

.info {
  margin: 10px;
  text-align: center;
}

.info p {
  color: #a59c9c;
}

.logo {
  color: #465c71;
  font-size: 90px;
  transition-duration: 0.3s;
}

.products-dir:hover .logo{
  color: #67b98b;
}

.sales-dir:hover .logo{
  color: #ffba3d;
}

.users-dir:hover .logo{
  color: #4343f8;
}
