@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Oxygen;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
}

* {
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

input, textarea {
  -moz-user-select: text;
  user-select: text;
  padding: 3px;
  border: 2px solid #bcbaba;
  border-radius: 3px;
  background:#fff
}

textarea {
  resize: none;
  font-size: 15px;
}

body{
  margin: 0;
  padding: 0;
  background: #d6e4e7;
  font-family: Roboto-light;
}

a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.dir {
  height: 100%;
  padding: 5px;
  transition-duration: 0.3s;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.top-nav, .brand, .directories, .left, .right, .content{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.brand, .directories, .left {
  height: 100%;
}

/* HEADER */
.top-nav {
  top: 0;
  color: #fff;
  justify-content: space-between;
  width: 100vw;
  height: 7.5%;
  background: #333;
  overflow: hidden;
}

.brand {
  margin: 0 14px 0 12px;
}

#cart-icon{
  font-size: 22px;
  margin-right: 3px;
}

.brand-name {
  margin: 0;
  color: #14dc80;
}

.dir:hover {
  cursor: pointer;
  background: #18a254;
}

.right {
  position: relative;
  left: 40px;
  height: 100%;
  transition-duration: 0.3s;
}

.right p {
  text-align: right;
  margin: 5px;
}

.right #name {
  color: #09DCE4;
}

.right #position {
  font-size: 12px;
}

.current_dir {
  background: #18a254;
}

.content {
  width: 100%;
  height: 92.5%;
}

.fa-power-off {
  position: relative;
  visibility: hidden;
  opacity: 0;
  font-size: 35px !important;
  margin: 0 3px 0 6px;
  transition-duration: 0.3s;
}

.right:hover {
  left: 0;
  cursor: default;
}

.right:hover .fa-power-off {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.fa-power-off:hover {
  color: #b35a31;
  cursor: pointer;
}
