.dash-content {
  position: relative;
  padding: 20px;
}


/* DEFAULT CONTENTS */
.empty-table {
  width: 100%;
  height: 90%;
}

.empty-table h1 {
  color: #41abbd;
  font-size: 80px;
}

.new {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
  font-size: 30px;
}


/* TABLE CONTENT */
.info-container {
  width: 100%;
}

.tbl {
  width: 100%;
}

.long, .medium {
  text-align: left;
}

.long {
  width: 35%;
}

.medium {
  width: 25%;
}

.short {
  text-align: center;
  width: 10%;
}

.search-nav {
  background: none;
  width: 100%;
  height: 7%;
  margin: 0 5px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-input {
  width: 200px;
  margin-left: 0;
  height: 30px;
  border: 1px solid #b0b0b0;
  border-radius: 15px;
}

.search-icon {
  margin-left: 3px;
  background: #fff;
  color: #444;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #b0b0b0;
}

.buttons {
  margin-right: 8px;
}
