.transactions {
  width: 780px;
  height: 550px;
  overflow: auto;
  background: #fff;
}

.trans-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.trans-data-wrapper {
  height: 40px;
  transition-duration: 0.3s;
}

.trans-data-wrapper:hover {
  cursor: pointer;
}

.selected-transaction {
  background: #3c6c87;
  color: #fff;
}

.transactions-body {
  height: 80%;
}

.trans-data {
  font-size: 15px;
  text-align: center;
  width: 25%;
}

.transactions-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 10%;
}

.trans-footer {
  width: 100%;
  height: 100%;
  background: #444;
  color: #fff;
}
