{% extends "base-layout.html" %}
{% block TITLE %} Cash Register {% endblock %}

{% block STYLE %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout/checkout.css') }}">
{% endblock %}

{% block BODY %}
  <!-- SALES SUMMARY -->
  <div class="sales-summary body-container">
    <div class="purchases">
      <div class="descriptors">
        <span class="long">Product Name</span>
        <span class="short">Price</span>
        <span class="short">Qty.</span>
        <span class="short">Total</span>
      </div>

      <!-- ITEMS -->
      <div class="items"></div>
    </div>

    <!-- PURCHASED SUMMARY -->
    <div class="purchase-summary">
      <div class="total">
        <span class="short" style="font-weight:bold;">Total:</span>
        <span class="short">20</span>
        <span class="short">&#8369;1000000</span>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="action-buttons">
        <div class="button clear">clear</div>
        <div class="button tender">tender</div>
      </div>
    </div>
  </div>

  <!-- PRODUCTS SUMMARY -->
  <div class="products-summary body-container">

    <!-- SEARCH NAVIGATION -->
    <div class="search-nav">
      <div class="search">
        <input type="text" class="search-input" placeholder="search products">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
      </div>

    </div>

    <!-- PRODUCTS -->
    <div class="products">
      <div class="product">
        <span class="item code">120015009</span>
        <span class="item name">Bike Parts</span>
        <span class="item category">Parts</span>
        <span class="item stock">5</span>
        <span class="item price">&#8369;50</span>
      </div>
    </div>
  </div>
{% endblock %}
