{% extends "base-layout.html" %}
{% block TITLE %} Cash Register {% endblock %}

{% block STYLE %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout/checkout.css') }}">
{% endblock %}

{% block BODY %}
  <!-- SALES SUMMARY -->
  <div class="sales-summary body-container">
    <div class="purchases">
      <div class="descriptors">
        <span class="long">Product Name</span>
        <span class="short">Price</span>
        <span class="short">Qty.</span>
        <span class="short">Total</span>
      </div>

      <!-- ITEMS -->
      <div class="items"></div>
    </div>

    <!-- PURCHASED SUMMARY -->
    <div class="purchase-summary">
      <div class="total">
        <span class="short" style="font-weight:bold;">Total:</span>
        <span class="short" id="sub-qty">0</span>
        <span class="short">&#8369;<span id="sub-total">0</span></span>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="action-buttons">
        <div class="button clear-cart">clear</div>
        <div class="button tender">tender</div>
      </div>
    </div>
  </div>

  <!-- PRODUCTS SUMMARY -->
  <div class="products-summary body-container">

    <!-- SEARCH NAVIGATION -->
    <div class="search-nav">
      <div class="search">
        <!-- Search INPUT -->
        <input type="text" class="search-input" placeholder="search products">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>

        <!-- Filter Search Query -->
        <select class="search-select search-filter">
          <option value="" disabled selected>Search By</option>
          <option value="prod_name">Name</option>
          <option value="prod_code">SKU</option>
        </select>

        <!-- Scope Search With Category -->
        <select class="search-select search-scope">
            <option value="" disabled selected>Category</option>
            <option value="">All</option>
          {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>

    </div>

    <!-- PRODUCTS -->
    <div class="products">
      {% for product in products %}
        {% if product.prod_stock %}
        <div class="product in-stock" id="no{{product.invID}}">
        {% else %}
        <div class="product" id="no{{product.invID}}">
        {% endif %}
          <span class="item id">{{ product.invID }}</span>

          <div class="item-description">
            <span class="code">{{ product.prod_code }}</span>
            <p>SKU</p>
          </div>

          <div class="item-description" id="item-name">
            <span class="name">{{ product.prod_name }}</span>
            <p>Product Name</p>
          </div>

          <div class="item-description">
            <span class="category">{{ product.prod_type }}</span>
            <p>Category</p>
          </div>

          <div class="item-description">
            <span class="stock">{{ product.prod_stock }}</span>
            <p>Stock</p>
          </div>

          <div class="item-description">
            <span class="price">&#8369;{{ product.prod_price }}</span>
            <p>Price</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="merchant" style="display:none;">{{ user.username }}</div>
{% endblock %}


{% block MODAL %}
  <div class="modal">

    <div class="quantity-modal modal-content">
      <div class="header-text">
        <h3>Quantity</h3>
      </div>

      <div class="qty-content">
        <div class="qty-input-container">
            <h2>Enter Quantity:</h2>
            <input type="number" class="qty-input" value=1>
        </div>

        <div class="qty-button">
          <div class="button confirm-qty">Ok</div>
        </div>
      </div>
    </div>

    <div class="tender-modal modal-content">
      <div class="header-text">
        <h3>Payout</h3>
      </div>

      <div class="checkout-contents">

        <p class="sub-text">Payment</p>
        <div class="payment-div sub">
          <span>&#8369;</span><input type="text" value=0 class="payment-value">
        </div>

        <p class="sub-text">Subtotal</p>
        <div class="subtotal-div sub">
          <h1 class="subtotal-value"></h1>
        </div>

        <div class="change-div sub">
          <p class="sub-text">Change</p>
          <h3 class="change-value"></h3>
        </div>

        <div class="button-container">
          <div class="button purchase">Finalize Purchase</div>
        </div>
      </div>
    </div>

    <div class="clear-modal modal-content">
      <div class="header-text">
        <h3>Clear Cart</h3>
      </div>

      <div class="warning-content">
        <h1>Are you sure you want to clear your cart item(s)?</h1>

        <div class="choice-buttons">
          <div class="button cancel">Cancel</div>
          <div class="button confirm-clear">Yes</div>
        </div>
      </div>
    </div>

    <div class="close">&times;</div>
  </div>
{% endblock %}
