{% extends "dashboard.html" %}

{% block TITLE %} Dashboard {% endblock %}

{% block DASH_STYLE %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
{% endblock %}

{% block DASH %}
  <div class="greetings">
    <h1>Welcome to the Dashboard!</h1>
    <h3>
      From here you can see your sales reports, inventory, transactions, and users!
    </h3>
  </div>
  <div class="index">
    <a href="{{ url_for('dashboard', subdir='reports') }}" class="directory reports-dir">
      <div class="info">
        <i class="fa fa-bar-chart logo" aria-hidden="true"></i>
        <p>Sales Reports</p>
      </div>
    </a>

    <a href="{{ url_for('dashboard', subdir='inventory') }}" class="directory products-dir">
      <div class="info">
        <i class="fa fa-tag logo" aria-hidden="true"></i>
        <p>Inventory</p>
      </div>
    </a>

    <a href="{{ url_for('dashboard', subdir='transactions') }}" class="directory sales-dir">
      <div class="info">
        <i class="fa fa-table logo" aria-hidden="true"></i>
        <p>Transactions</p>
      </div>
    </a>

    <a href="{{ url_for('dashboard', subdir='users') }}" class="directory users-dir">
      <div class="info">
        <i class="fa fa-users logo" aria-hidden="true"></i>
        <p>User Accounts</p>
      </div>
    </a>
  </div>
{% endblock %}
