{% extends "base-layout.html" %}

{% block TITLE %} Login {% endblock %}

{% block STYLE %}
  <link rel="stylesheet" href= {{ url_for('static', filename='css/login.css') }}>
{% endblock %}

{% block BODY %}
  <div class="container">
    <div class="form-head">
      <h1>Login Form</h1>
    </div>

    <div class="form-body">
      <form action="{{ url_for('authentication') }}" method="POST">

        <div class="input-class">
          <input type="text" name="username" class="text-input" placeholder="username">
          <div class="underline"></div>
        </div>

        <div class="input-class">
          <input type="password" name="password" class="text-input" placeholder="password">
          <div class="underline"></div>
        </div>

        {% if status == "fail" %}
          <p class="error">invalid username or password</p>
        {% endif %}

        <input type="submit" value="Submit" class="submit-button">
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cool.js') }}"></script>
{% endblock %}
