{% extends "dashboard.html" %}

{% block TITLE %} Inventory {% endblock %}

{% block DASH_STYLE %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/products/products.css') }}">
{% endblock %}

{% block DASH %}
  {% if products %}
    <div class="info-container">

      <div class="search-nav">
        <div class="search">
          <!-- Search INPUT -->
          <input type="text" class="search-input" placeholder="search products">

          <!-- Filter Search Query -->
          <div class="dropdown search-select search-filter">
            <div class="dropdown-text">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span>Search By</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class="dropdown-content">
              <span class="dropdown-option selected-query">Name</span>
              <span class="dropdown-option">SKU</span>
            </div>
          </div>

          <!-- Scope Search With Category -->
          <div class="dropdown search-select search-scope">
            <div class="dropdown-text">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <span>Filter By</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class="dropdown-content">
              <span class="dropdown-option selected-query">All</span>
              {% for category in categories %}
              <span class="dropdown-option">{{ category }}</span>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="button delete">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span>Remove Product(s)</span>
          </div>
          <div class="button restock">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            <span>Restock Product(s)</span>
          </div>
          <div class="button edit">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            <span>Update Product</span>
          </div>
          <div class="button add">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <span>Add Product</span>
          </div>
        </div>
      </div>

      <div class="data-table">
        <div class="data-table-header">
          <div class="short" style="display:none;">ID</div>
          <div class="short">SKU</div>
          <div class="long">Item Description</div>
          <div class="short">Category</div>
          <div class="short">Stock</div>
          <div class="short">Price</div>
        </div>

        <div class="data-table-body">
          {% for product in products %}
          <div class="data-info">
            <div class="short invID" style="display:none;">{{ product.invID }}</div>
            <div class="short data-sku">{{ product.prod_code }}</div>
            <div class="long data-name">{{ product.prod_name }}</div>
            <div class="short data-type">{{ product.prod_type }}</div>
            <div class="short">
              <span class="stock data-stock">{{ product.prod_stock }}</span>/
              <span class="data-max-stock">{{ product.prod_max_stock }}</span>
            </div>
            <div class="short data-price">&#8369;{{ product.prod_price }}</div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  {% else %}
    <div class="empty-table">
      <h1>It seems you haven't added any products yet.</h1>
      <div class="button new add">Add a Product</div>
    </div>
  {% endif %}
{% endblock %}

{% block MODAL %}
  <div class="modal">
    <!-- PRODUCT ADD MODAL -->
    <div class="add-modal modal-content">
      <div class="header-text">
        <h3>Add Product</h3>
      </div>

      <form action="{{ url_for('add_product') }}" class="add-inputs" method="POST">
        <div class="input-container">
          <input type="text" name="item_code" class="input item-code" autocomplete="off" placeholder="11-digit combination">
          <p>Item Code</p>
        </div>

        <div class="input-container">
          <textarea name="item_name" class="input item-name" autocomplete="off" placeholder="Name of this product"></textarea>
          <p>Product Name</p>
        </div>

        <div class="input-container">
          <div class="category">
            <input type="text" name="category" class="input item-type" autocomplete="off" placeholder="Category of this product">
            {% if products %}
              <select>
                {% for category in categories %}
                  <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </div>


          <p>Category</p>
        </div>

        <div class="numbers">
          <div class="input-container">
            <input type="number" name="max_stock" class="input item-max-stock" value=1>
            <p>Max Stock</p>
          </div>
          <div class="input-container">
            <input type="number" name="price" class="input item-price" value=0>
            <p>Product Price</p>
          </div>
        </div>

        <div class="action-btns">
          <button type="button" class="clear">clear</button>
          <button type="button" class="submit">submit</button>
        </div>
      </form>
    </div>

    <!-- PRODUCT EDIT MODAL -->
    <div class="update-modal modal-content">
      <div class="header-text">
        <h3>Update Product</h3>
      </div>

      <form action="{{ url_for('edit_product') }}" class="update-inputs" method="POST">
        <input type="hidden" class="item-id" name="itemID" />

        <div class="input-container">
          <input type="text" name="item_code" class="input-val item-code-val" autocomplete="off" placeholder="11-digit combination" disabled>

          <div class="input-description">
            <p>Item Code</p><i class="fa fa-lock desc-icon" aria-hidden="true"></i>
          </div>
        </div>

        <div class="input-container">
          <textarea name="item_name" class="input-val item-name-val" autocomplete="off" placeholder="Name of this product" disabled></textarea>

          <div class="input-description">
            <p>Product Name</p><i class="fa fa-lock desc-icon" aria-hidden="true"></i>
          </div>
        </div>

        <div class="input-container">
          <div class="category">
            <input type="text" name="category" class="input-val item-type-val"autocomplete="off" placeholder="Category of this product" disabled>

            {% if products %}
              <select class="input-val" disabled>
                {% for category in categories %}
                  <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </div>

          <div class="input-description">
            <p>Category</p><i class="fa fa-lock desc-icon" aria-hidden="true"></i>
          </div>
        </div>

        <div class="numbers">
          <div class="input-container">
            <input type="number" name="max_stock" class="input-val item-max-stock-val" disabled>
            <div class="input-description">
              <p>Max Stock</p><i class="fa fa-lock desc-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="input-container">
            <input type="number" name="price" class="input-val item-price-val" disabled>
            <div class="input-description">
              <p>Product Price</p><i class="fa fa-lock desc-icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="action-btns">
          <button type="button" class="lock-toggle unlock">
            <i class="fa fa-unlock-alt ub-icon" aria-hidden="true"></i><span>Unlock All</span>
          </button>

          <button type="button" class="submit-update">Update</button>
        </div>
      </form>
    </div>

    <!-- PRODUCT RESTOCK MODAL -->
    <div class="restock-modal modal-content">
      <div class="header-text">
        <h3>Product Restock</h3>
      </div>

      <div class="restock-content">
        <!-- Main Container -->
        <div class="restock-items-container">
          <div class="restock-items-content">
            <!-- Selected Item Header Descriptions -->
            <div class="ric sel-table-header">
              <div class="long-div">
                <span>Item Description</span>
              </div>
              <div class="short-div">
                <span>Add Stock</span>
              </div>
              <div class="short-div">
                <span>Current Stock</span>
              </div>
              <div class="short-div">
                <span>Max Stock</span>
              </div>
            </div>

            <!-- Selected Items Container -->
            <div class="ric selected-table-items"></div>

            <!-- Bottom -->
            <div class="restock-items-content restock-items-header">
              <div class="restock-all">
                <p>Restock All: </p>
                <input class="all-stock stock-input" value=0>
              </div>
            </div>
          </div>

        </div>

        <div class="restock-buttons">
          <div class="button confirm-restock">Add Stock</div>
        </div>
      </div>
    </div>

    <!-- PRODUCT DELETE MODAL -->
    <div class="remove-modal modal-content">
      <div class="header-text">
        <h3>Remove Product</h3>
      </div>

      <form action="{{ url_for('del_product') }}" class="warning" method="POST">
        <h2>Are you sure you want to delete?</h2>

        <div class="input-container">
          <input type="password" name="pw">
          <p>Enter password to verify</p>
        </div>

        <div class="confirm-wrapper">
          <button class="confirm">DELETE</button>
        </div>
      </form>

    </div>

    <div class="close">&times;</div>
  </div>
{% endblock %}
