{% extends "dashboard.html" %}

{% block TITLE %} Sales Reports {% endblock %}

{% block DASH_STYLE %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reports/reports.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/jquery-ui/themes/base/jquery-ui.min.css') }}">
{% endblock %}

{# Variables #}
{% set daily = reports['daily'] %}
{% set monthly = reports['monthly'] %}
{% set weekly = reports['weekly'] %}
{% set low_stock = reports['low_stock'] %}
{% set no_stock = reports['no_stock'] %}
{% set total_stock = reports['total_stock'] %}
{% set total_max_stock = reports['total_max_stock'] %}


{% block DASH %}
  <div class="reports-summary">
    <!-- MONTHLY REPORT -->
    <div class="report-container sale-summary monthly-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">MONTHLY SALES</p>
        <h3 class="report-value">&#8369;{{ monthly['summary']['total_sales'] }}</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- DAIlY REPORT -->
    <div class="report-container sale-summary daily-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">TODAY'S SALES</p>
        <h3 class="report-value">&#8369;{{ daily['summary']['total_sales'] }}</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- WEEKLY REPORT -->
    <div class="report-container sale-summary weekly-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">WEEKLY SALES</p>
        <h3 class="report-value">&#8369;{{ weekly['summary']['total_sales'] }}</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- STOCK REPORTS -->
    <div class="report-container sale-summary all-stock-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">STOCKS IN INVENTORY</p>
        <h3 class="report-value">{{ total_stock }}/{{ total_max_stock }}</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </div>
    </div>

    <!-- LOW STOCK REPORT -->
    <div class="report-container sale-summary low-stock-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">LOW INVENTORY</p>
        <h3 class="report-value">{{ low_stock.length }} item(s)</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
    </div>

    <!-- NO STOCK REPORT -->
    <div class="report-container sale-summary no-stock-report">
      <!-- REPORT VALUE -->
      <div class="report-wrapper">
        <p class="report-header">NO INVENTORY</p>
        <h3 class="report-value">{{ no_stock.length }} item(s)</h3>
      </div>

      <!-- REPORT LOGO -->
      <div class="report-logo">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
    </div>
  </div>
{% endblock %}

{% block MODAL %}

{% endblock %}
