{% extends "dashboard.html" %}

{% block TITLE %} Sales Reports {% endblock %}

{% block DASH_STYLE %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reports/reports.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/jquery-ui/themes/base/jquery-ui.min.css') }}">
{% endblock %}

{# Variables #}
{% set daily = reports['daily'] %}
{% set monthly = reports['monthly'] %}
{% set weekly = reports['weekly'] %}
{% set low_stock = reports['low_stock'] %}
{% set no_stock = reports['no_stock'] %}
{% set total_stock = reports['total_stock'] %}
{% set total_max_stock = reports['total_max_stock'] %}


{% block DASH %}
  <div class="reports-summary">
    <!-- MONTHLY REPORT -->
    <div class="report-container sale-summary monthly-report">
      <div class="report-wrapper">
        <p class="report-header">MONTHLY SALES({{ monthly.summary['total_items_sold'] }})</p>
        <h3 class="report-value">&#8369;{{ monthly['summary']['total_sales'] }}</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- DAIlY REPORT -->
    <div class="report-container sale-summary daily-report">
      <div class="report-wrapper">
        <p class="report-header">TODAY'S SALES({{ daily.summary['total_items_sold'] }})</p>
        <h3 class="report-value">&#8369;{{ daily['summary']['total_sales'] }}</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- WEEKLY REPORT -->
    <div class="report-container sale-summary weekly-report">
      <div class="report-wrapper">
        <p class="report-header">WEEKLY SALES({{ weekly.summary['total_items_sold'] }})</p>
        <h3 class="report-value">&#8369;{{ weekly['summary']['total_sales'] }}</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-tag" aria-hidden="true"></i>
      </div>
    </div>

    <!-- STOCK REPORTS -->
    <div class="report-container sale-summary all-stock-report">
      <div class="report-wrapper">
        <p class="report-header">STOCKS IN INVENTORY</p>
        <h3 class="report-value">{{ total_stock }}/{{ total_max_stock }}</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </div>
    </div>

    <!-- LOW STOCK REPORT -->
    <div class="report-container sale-summary low-stock-report">
      <div class="report-wrapper">
        <p class="report-header">LOW INVENTORY</p>
        <h3 class="report-value">{{ low_stock.length }} item(s)</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
    </div>

    <!-- NO STOCK REPORT -->
    <div class="report-container sale-summary no-stock-report">
      <div class="report-wrapper">
        <p class="report-header">OUT OF STOCK</p>
        <h3 class="report-value">{{ no_stock.length }} item(s)</h3>
      </div>

      <div class="report-logo">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
    </div>
  </div>
{% endblock %}

{% block MODAL %}
  <div class="modal">
    <!-- MONTHLY SALES MODAL -->
    <div class="monthly-modal modal-content">
      <div class="header-text">
        <h3>Monthly Sales</h3>
        <div class="generate-report-btn monthly-report">Generate Report</div>
      </div>

      <div class="sales-report-body">
        {% if monthly.summary['total_sales'] %}
        <div class="sales-report-row report-footer">
          <span class="long-column">Retailer</span>
          <span class="short-column">Total Qty.</span>
          <span class="short-column">Subtotal</span>
          <span class="short-column">Date Sold</span>
        </div>
        <div class="sales-content">
          {% for transaction in monthly.transactions %}
          <div class="sales-report-row">
            <span class="long-column">{{ transaction.retailer }}</span>
            <span class="short-column">{{ transaction.totalqty }}</span>
            <span class="short-column">&#8369;{{ transaction.subtotal }}</span>
            <span class="short-column">{{ transaction.date_sold }}</span>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="empty">
          <h1>No transactions made yet.</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- WEEKLY SALES MODAL -->
    <div class="weekly-modal modal-content">
      <div class="header-text">
        <h3>Weekly Sales</h3>
        <div class="generate-report-btn weekly-report">Generate Report</div>
      </div>

      <div class="sales-report-body">
        {% if weekly.summary['total_sales'] %}
        <div class="sales-report-row report-footer">
          <span class="long-column">Retailer</span>
          <span class="short-column">Total Qty.</span>
          <span class="short-column">Subtotal</span>
          <span class="short-column">Date Sold</span>
        </div>
        <div class="sales-content">
          {% for transaction in weekly.transactions %}
          <div class="sales-report-row">
            <span class="long-column">{{ transaction.retailer }}</span>
            <span class="short-column">{{ transaction.totalqty }}</span>
            <span class="short-column">&#8369;{{ transaction.subtotal }}</span>
            <span class="short-column">{{ transaction.date_sold }}</span>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="empty">
          <h1>No transactions made yet.</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- DAILY SALES MODAL  -->
    <div class="daily-modal modal-content">
      <div class="header-text">
        <h3>Daily Sales</h3>
        <div class="generate-report-btn daily-report">Generate Report</div>
      </div>

      <div class="sales-report-body">
        {% if daily.summary['total_sales'] %}
        <div class="sales-report-row report-footer">
          <span class="short-column">Retailer</span>
          <span class="short-column">Total Qty.</span>
          <span class="short-column">Subtotal</span>
          <span class="short-column">Date Sold</span>
          <span class="short-column">Time</span>
        </div>
        <div class="sales-content">
          {% for transaction in daily.transactions %}
          <div class="sales-report-row">
            <span class="short-column">{{ transaction.retailer }}</span>
            <span class="short-column">{{ transaction.totalqty }}</span>
            <span class="short-column">&#8369;{{ transaction.subtotal }}</span>
            <span class="short-column">{{ transaction.date_sold }}</span>
            <span class="short-column">{{ transaction.time_sold }}</span>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="empty">
          <h1>There are no transactions for today.</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- LOW INVENTORY MODAL -->
    <div class="low-stock-modal modal-content">
      <div class="header-text">
        <h3>Low Inventory</h3>
      </div>

      <div class="sales-report-body">
        {% if low_stock['items'] %}
        <div class="sales-report-row report-footer">
          <span class="ultra-long-column">Product Name</span>
          <span class="short-column">In Stock</span>
          <span class="short-column">Max Stock</span>
        </div>
        <div class="sales-content">
          {% for item in low_stock['items'] %}
          <div class="sales-report-row">
            <span class="ultra-long-column">{{ item.prod_name }}</span>
            <span class="short-column">{{ item.prod_stock }}</span>
            <span class="short-column">{{ item.prod_max_stock }}</span>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="empty">
          <h1>No Inventory currently low.</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- NO INVENTORY MODAL -->
    <div class="no-stock-modal modal-content">
      <div class="header-text">
        <h3>Out of Stock</h3>
      </div>

      <div class="sales-report-body">
        {% if no_stock['items'] %}
        <div class="sales-report-row report-footer">
          <span class="ultra-long-column">Product Name</span>
          <span class="short-column">In Stock</span>
          <span class="short-column">Max Stock</span>
        </div>
        <div class="sales-content">
          {% for item in no_stock['items'] %}
          <div class="sales-report-row">
            <span class="ultra-long-column">{{ item.prod_name }}</span>
            <span class="short-column">{{ item.prod_stock }}</span>
            <span class="short-column">{{ item.prod_max_stock }}</span>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="empty">
          <h1>No Inventory currently out of stock.</h1>
        </div>
        {% endif %}
      </div>

    </div>
    <!-- MODAL CLOSER -->
    <div class="close">&times;</div>
  </div>
{% endblock %}
