{% extends "dashboard.html" %}

{% block TITLE %} Users {% endblock %}

{% block DASH_STYLE %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/users/users.css') }}">
{% endblock %}

{% block DASH %}
  <div class="user-table">
    <div class="user-table-header">
      <h3>User List</h3>
    </div>

    <div class="user-table-body">
      {% for user in users %}
        <div class="user" id="uID{{ user.uID }}">
          <div class="user-desc long">
            <span class="user-fullname">{{ user.firstname + " " + user.lastname }}</span>
            <p>Fullname</p>
          </div>

          <div class="user-desc short">
            <span class="user-role">{{ user.role }}</span>
            <p>Role</p>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

  <div class="user-main">
    <!-- USER PROFILE -->
    <div class="user-profile">
      <!-- User Profile Header -->
      <div class="user-main-header">
        <h3>User Profile</h3>

        <div class="user-buttons">
          <div class="user-button remove-user">Remove</div>
          <div class="user-button create-user">Create</div>
        </div>
      </div>

      <!-- User Profile Body -->
      <div class="user-profile-body">
        <!-- Column 1: First and Last Name -->
        <div class="user-profile-column">
          <div class="profile-desc user-firstname">
            <p class="profile-tag">Firstname</p>
            <p class="profile-data data-firstname"></p>
          </div>
        </div>

        <div class="user-profile-column">
          <div class="profile-desc user-lastname">
            <p class="profile-tag">Lastname</p>
            <p class="profile-data data-lastname"></p>
          </div>
        </div>

        <!-- Column 2: Username and Last Login -->
        <div class="user-profile-column">
          <div class="profile-desc user-username short-desc">
            <p class="profile-tag">Username</p>
            <p class="profile-data data-username"></p>
          </div>
          <div class="profile-desc user-sex short-desc">
            <p class="profile-tag">Sex</p>
            <p class="profile-data data-sex"></p>
          </div>
        </div>

        <!-- Column 3: Date Created -->
        <div class="user-profile-column">
          <div class="profile-desc user-date-created">
            <p class="profile-tag">Date Created</p>
            <p class="profile-data data-date-join"></p>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}

{% block MODAL %}
  <div class="modal">

    <div class="create-user-modal modal-content">
      <div class="header-text">
        <h3>Create User</h3>
      </div>

      <div class="create-user-form">
        <div class="user-input">
          <div class="input-wrapper">
            <input class="user-firstname-input user-form-input">
            <p>Firstname</p>
          </div>

          <div class="input-wrapper">
            <input class="user-lastname-input user-form-input">
            <p>Lastname</p>
          </div>
        </div>

        <div class="user-input">
          <div class="input-wrapper">
            <input class="user-username-input user-form-input">
            <p>Username</p>
          </div>

          <div class="input-wrapper select-wrapper">
            <select class="user-gender-input user-form-select">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <p>Sex</p>
          </div>
        </div>

        <div class="user-input">
          <div class="input-wrapper">
            <input type="password" class="user-password-input user-form-input">
            <p>Password</p>
          </div>

          {% if user.role == "Super Admin" %}
          <div class="input-wrapper">
            <select class="user-role-input user-form-select">
              <option value=2 selected>Basic Member</option>
              <option value=1>Admin</option>
            </select>
            <p>User Role</p>
          </div>
          {% endif %}
        </div>

      </div>

      <div class="confirm-wrapper">
        <button class="button confirm-create">Create User</button>
      </div>
    </div>

    <div class="remove-user-modal modal-content">
      <div class="header-text">
        <h3>Remove User</h3>
      </div>

      <div class="remove-user-form">
        <h4 class="user-mc-header">Are you sure you want to remove <span class="selected-user-fullname"></span>?</h4>

        <div class="input-container">
          <input type="password" name="urm-pw" class="user-remove-pw-input">
          <p>Enter password to verify</p>
        </div>

        <div class="confirm-wrapper">
          <button class="button confirm-remove">Remove User</button>
        </div>
      </div>
    </div>


    <div class="close">&times;</div>
  </div>
{% endblock %}
