.clear-modal .header-text {
  background: #c33838;
  color: #fff;
}

.warning-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.warning-content h1{
  text-align: center;
  color: #444;
}

.choice-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cancel, .confirm-clear {
  border: none;
}

.cancel {
  background: #2a9668;
}

.confirm-clear {
  background: #c33838;
  text-align: center;
  width: 60px;
}

.button {
  margin: 0 3px;
}
