.quantity-modal {
  width: 300px !important;
}

.quantity-modal .header-text {
  background: #2a5e62;
  color: #fff;
}

.qty-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.qty-input-container {
  text-align: center;
}

.qty-input-container h2 {
  color: #353535;
}

.qty-input {
  width: 150px;
  text-align: center;
}

.qty-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  text-align: center;
}

.confirm-qty {
  background: #2a5e62;
  width: 50px;
}
