.sales-summary {
  width: 500px;
}

.purchases, .purchase-summary, .descriptors {
  position: relative;
  width: 100%;
}

.long, .short, .purchased-item, .purchase-summary, .total {
  text-align: center;
}

.purchases {
  height: 85%;
}

.long {
  width: 40%;
}

.short {
  width: 20%;
}

.descriptors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 7%;
  color: #fff;
  background: #444;
  font-family: Oxygen;
}

.descriptors span {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 93%;
  background: #fff;
}

.purchased-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 90px;
  font-family: Oxygen;
}

.purchased-item span {
  position: relative;
  max-height: 80%;
  font-size: 13px;
  text-align: center;
  overflow: auto;
}

.purchased-item .prod_name {
  padding: 5px;
  text-align: center;
}

.purchase-summary {
  height: 15%;
  background: #fff;
}

.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0;
  padding: 0 5px;
  font-size: 13px;
}

.total span{
  max-width: 100%;
  padding: 5px 0;
  border-top: 5px double #444;
  overflow: auto;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 10px;
}

.action-buttons .button {
  margin: 0 5px;
}

.button {
  border: 1px solid #444;
  border-radius: 2px;
}

.tender {
  background: #2a5e62;
}

.clear-cart {
  background: #c33838;
}

.tender:hover {
  background: #214548;
}

.clear-cart:hover {
  background: #932b2b;
}
